.subtitle {
    margin: 0;
    padding: 0 5%;
    font-weight: 100;
    font-size: 16px;
    line-height: 41px;
    color: #FFFFFF;
    background-color: #88AA4D;
}

.title_green {
    background-color: #88AA4D;
}

.subtitle_red {
    background-color: #F75531;
}