.logo__link {
    display: flex;
    height: 44px;
    align-items: center;
    text-decoration: none;
}

.logo__link:hover {
    text-decoration: none;
}

.logo__text {
    display: flex;
    height: 44px;
    margin-left: 24px;
    font-weight: 700;
    font-size: 28px;
    line-height: 42px;
    color: #333333;
}