.advantage__card {
    text-decoration: none;
    list-style-type: none;
    margin: 1% 0.5%;
    padding: 2% 1%;
    max-width: 43%;
}

.advantage__header {
    display: flex;
    justify-content: start;
    gap: 3%;
    align-content: center;
}

.advantage__desc {
    width: 85%;
}